{% extends "layout.html"%}

{% block title%}
buy
{% endblock %}

{% block buy%}
    <body class="background" style="background-image: url('https://img.freepik.com/premium-photo/business-stock-market-digital-data-financial-investment_24070-1624.jpg?w=2000');"></body>
    <form action="/buy"  method="post">
        <div class="mb-3">
            <input type="text" autofocus class="form-control mx-auto w-auto" autocomplete="off" placeholder="Symbol*" size="30" name="symbol">
        </div>
        <div class="mb-3">
            <input type="number" min="1" autofocus class="form-control mx-auto w-auto" autocomplete="off" placeholder="Shares*" size="30" name="shares">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}