{% extends "layout.html"%}{% block title%} History {% endblock%}

{% block history%}
    <body class="background" style="background-image: url('https://img.freepik.com/premium-photo/business-stock-market-digital-data-financial-investment_24070-1624.jpg?w=2000')"></body>
    <table class="table table-stiped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data%}
                <tr>
                    <td>{{d.symbol}}</td>
                    <td>{{d.shares}}</td>
                    <td>{{usd(d.price)}}</td>
                    <td>{{d.time}}</td>
                </tr>
            {% endfor%}
        </tbody>
    </table>

{%endblock%}