{% extends "layout.html"%}{% block title%} Change Password {% endblock%}

{%block password%}
    <form action="/password" method="POST">
        <body class="background" style="background-image: url('https://img.freepik.com/premium-photo/business-stock-market-digital-data-financial-investment_24070-1624.jpg?w=2000')"></body>
        <div class="mb-3">
            <input type="text" autofocus placeholder="OLD PASSWORD*" autocomplete="off" class="form-control mx-auto w-auto" size="30" name="oldpass">
        </div>
        <div class="mb-3">
            <input type="text" autofocus placeholder="NEW PASSWORD*" autocomplete="off" class="form-control mx-auto w-auto" size="30" name="newpass">
        </div>
        <button class="btn btn-primary" type="submit">change</button>
    </form>
{% endblock%}