{% extends "layout.html"%}{% block title%} Sell {% endblock%}

{%block sell%}
    <body class="background" style="background-image: url('https://img.freepik.com/premium-photo/business-stock-market-digital-data-financial-investment_24070-1624.jpg?w=2000')" ></body>
    <form action="/sell" method="POST">
        <div class="mb-3">
            <input type="number" min="1" class="form-control mx-auto w-auto" placeholder="Shares*" autocomplete="off" name="shares">
        </div>
        <div class="mb-3">
            <select class="form-control mx-auto w-auto" name="symbol">
                <option disabled selected>Symbol</option>
                {% for sym in symb%}
                <option >{{sym['symbol']}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>

        </form>
        {%endblock%}
